@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-pink: #ffd8de;
  --main-gold:  #e0c469;
  
  --btn-pink: #c8969e;
  --btn-pink-gradient: linear-gradient(45deg, rgb(200, 150, 158), rgb(200, 150, 158, 0.5));
  --main-creme: #FEF9EE;
  --main-bronze: #CD7F32;
  --main-shadow: 2px 2px 10px 2px white;

  /* WhatsApp color code */
  --whatsapp-green: #25d366;

  /* Fonts */
  --head-font-size: 5rem;
  --sub-head-font: 'Times New Roman', Times, serif;
  --sub-head-size: 3rem;
  --sub-text-size: 1rem;

  /* For button shine effect */
  --btn-shadow: 1px 1px 25px 10px rgba(255,
  255, 255, 0.5);
  --shine-degree: 120deg;
  --shine-color: rgba(255, 255, 255, 0.2);
  --shine-effect: linear-gradient(
    var(--shine-degree),
    transparent,
    var(--shine-color),
    transparent
  );
  --shine-transition: all 0.65s ease-in-out;
  --shadow-effect: 2px 2px 10px 2px rgb(0, 0, 0, 0.6);
}

/* For effect ONLY */
.btn {
  position: relative;
  overflow: hidden;
  z-index: 0
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--shine-effect);
  transition: var(--shine-transition);
  z-index: 1;
  pointer-events: none;
}

.btn-hover:hover::before {
  left: 100%;
}

.btn-hover:hover {
  box-shadow: var(--btn-shadow);
}

.btn > * {
  position: relative;
  z-index: 2;
}

.logo-wrapper svg {
  transform: translateZ(0);
  backface-visibility: hidden;
}
  
